{:paths ["." "src" "test"]
 :deps {com.junkawasaki/multiformats-clj {:git/url "https://github.com/com-junkawasaki/multiformats-clj.git" :git/sha "0f4ed68ff9e3cbf069569d897c9304713a14036c"}}
 :tasks {test {:task (load-file "run_tests.clj")}}}
