{:west/project "orgs/etzhayyim/com-etzhayyim-tanemaki"
 :root {:path "root" :revision "ae6832f7ed09147a18b0416de18b44b00c95562a"}
 :dependencies [{:name "multiformats-clj" :path "orgs/com-junkawasaki/multiformats-clj" :revision "0f4ed68ff9e3cbf069569d897c9304713a14036c"}]}
