{:canonical-format :edn
 :canonical-path "lex"
 :generated-path "wire/lexicons"
 :generator {:repository "etzhayyim/com-etzhayyim-lexicons-bundle"
             :revision "c78dfb9764c952b770d47553cd110768d6f7c336"
             :script "scripts/project-edn-lexicons.clj"}}
